.acercaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .bgAcerca {
        background-color: rgba(0, 0, 0, 1);
        background: rgba(0, 0, 0, 1);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(220, 78, 78, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(220, 78, 78, 1)));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(220, 78, 78, 1) 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(220, 78, 78, 1) 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(220, 78, 78, 1) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(220, 78, 78, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#dc4e4e', GradientType=0);
        position: absolute;
        width: 100vw;
        height: 100%;
        z-index: -999;
        overflow: hidden;

        @media (max-width: 850px) {
            font-size: 8vw;
        }
    }
}



.infoEvento {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 850px) {
        flex-direction: column;
        gap: 10px;
    }

    img {
        width: 50%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        @media (max-width: 850px) {
            width: 80%;
        }

        @media (max-width: 450px) {
            width: 100%;
        }
    }

    p {
        color: white;
        width: 40%;
        font-size: 2.5rem;
        text-shadow: .1em .1em 0 hsl(200 50% 30%);

        @media (max-width: 850px) {
            width: 80%;
            text-align: center;
            font-size: 2rem;
        }

        @media (max-width: 450px) {
            width: 100%;
        }

        span {
            font-weight: bold;
            font-size: 3rem;

            @media (max-width: 850px) {
                font-size: 2.5rem;
            }
        }

    }

    margin-bottom: 40px;
}