.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 40vw;
    margin-bottom: 2vw;
}

h1{
    text-align: center;
    font-size: 3vw;
    color: white;
}

p{
    font-size: 2vw;
    color: white;
}

@media screen and (max-width: 850px) {
    .logo {
        width: 80vw;
    }

    h1{
        font-size: 7.5vw;
    }

    p{
        font-size: 5vw;
    }
}