@import './variables';
@import './elements';

@import './components/navbar';

@import './components/inicio';

@import './components/invitados';

@import './components/acerca';

@import './components/ubicacion';

@import './components/patrocinadores';

@import './components/contacto';

@import './components/comprar';

.desarrollado{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.5rem;
    margin-top: 100px;
    color: white;

    @media (max-width: 600px) {
        flex-direction: column;
    }

    img{
        width: 150px;
        @media (max-width: 600px) {
            margin-bottom: 30px;
        }
        
    }
}